<div style="background-color:powderblue; width: 50%;">
  <div class="card center-align green"><h6>CarHire Payment Success</h6></div>
   <div class="row">
    <div class="col s12 m6">
      <div  class="card green">
       <div id="contentToConvert" class="green">
        <div class="card-content white-text">
          <span class="card-title"><img class="circle" src="/src/kululaIcon.jpg" style="width:100px;height:50px;background-color: aqua">Receipt</span>
          <p>Thank you for choosing kulula ,you are welcome to make any changes on reservation in 24 hours
             after reservation was approved T&C's apply
          </p>
        </div>
       <div class="{{background}}">
        <div class="card-content transbox white" >
          <p>KULULA CAR HIRING RECEIPT</p><span class="pull-right">Date : {{now.toLocaleDateString()}}</span>
          <br/><span class="pull-right">Time : {{now.toLocaleTimeString()}}</span><br/>
          <span>..................................................................</span>
          <br/>
          <span>kulula car hiring receipt</span>
          <br/>
          <span>Outstanding Amount R:0</span>
          <br/>
          <span>Pick Up @ : </span>
          <br/>
          <span>Drop Off @ :</span>
          <br/>
          <span>Date Of Pick Up :</span>
          <br/>
          <span>Hired Car :</span>
          <br/>
          <span>Is Return Booked :</span>
          <br/>
          <span>..................................................................</span><br/>
          <span>Grand Total: R</span>
          <br/>
        </div>
      </div>
    </div>
        <div class="card-action">  
            <div *ngIf="onSave2pdf" class="progress-bar progress-bar-striped progress-bar-animated" style="width: 40%">
                Downloading pdf...
            </div>
            <a (click)="save2pdf()">save to pdf<span class=" fa fa-file-pdf-o Size"></span></a>
            <a (click)="print()">print<span class=" fa fa-print Size"></span></a>
            <a (click)="openModal(template)" >email<span class=" fa fa-envelope Size"></span></a>
              
          <div class={{hide}}>
              
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <ng-template #template >
    <div class="modal-body green">
        <div class="modal-dialog FormColor" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Sent to Email</h5>
                <button type="button" class="close" (click)="decline()" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body FormColor">
                <form>
                  <div class="container">
                    <label for="recipient" class="col-form-label">Ticket will be sent to :
                    <input type="text" class="form-control" name="recipient" #recipient="ngModel" [(ngModel)]="recipients"></label>
                  </div>
               
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-error" (click)="decline()">Cancel</button>
                <button type="button"  class="btn btn-success" (click)="email()" >Send Ticket</button>
              </div>
            </div>
          </div>
    </div>   
  </ng-template>
  <div class="modal fade " tabindex="-1" id="successModal" data-keyboard="false" data-backdrop="static">
      <div class="modal-dialog modal-sm">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">
                      &times;
                  </button>
                  <h4>Success</h4>
              </div>
              <div class="modal-body">
                  <h2>Registration Successful</h2>
              </div>
              <div class="modal-footer">
                  <button type="button" data-dismiss="modal" class="btn btn-success">
                      Close
                  </button>
              </div>
          </div>
      </div>
  </div>
 
