<div class="container-fluid">
    <form class="col s12 FormColor" #ChangePasswordForm="ngForm" (ngSubmit)="OnSubmit(ChangePasswordForm)">
        <div class="input-field col s6">
          <input type="password"  class="validate"  name="OldPassword"  #OldPassword="ngModel" [(ngModel)]="ChangePasswords.OldPassword" required >
          <label for="OldPassword">Old Password</label>
        </div>
        <div class="input-field col s6">
            <input class="validate"  name="NewPassword" type="password"  #NewPassword="ngModel" [(ngModel)]="ChangePasswords.NewPassword" required >
            <label for="NewPassword" >New Password</label>
       </div>
        <div class="input-field col s6">
          <input class="validate"  name="ConfirmPassword" type="password"  #ConfirmPassword="ngModel" [(ngModel)]="ChangePasswords.ConfirmPassword" required >
          <label for="ConfirmPassword" >Confirm Password</label>
         </div>
      
        <div class="input-field col s6">
            <button [disabled]="!ChangePasswordForm.valid" class="btn-large btn-submit" (click)="openModal(template)">Confirm</button>
            <div *ngIf="btnSubmitClick && !IsError" class="progress">
              <div class="indeterminate"></div>
            </div>
        </div>
     </form>
     <ng-template #template>
      <div class="modal-body text-center">
       <button type="button" class="close pull-right" aria-label="Close" (click)="modelRef.hide()"></button>
       <p>Are you sure you want change password?</p>
       <button type="button" class="btn btn-default" (click)="confirm()" type="submit">Yes</button>
       <button type="button" class="btn btn-primary" (click)="decline()" >No</button>
      </div>
     </ng-template>
     <div *ngIf="success" class="alert alert-success center">
        <h2><strong>Success!</strong></h2> Password Changed Successfully.
        <p>New password is :<strong>{{ChangePasswords.NewPassword}}</strong></p>
    </div>
</div>

    

 