<nav style="background-color:limegreen;">
  <div class="nav-wrapper z-depth-5">
    <a href="/home" class="z-depth-5"><img class="circle" src="/src/kululaIcon.jpg" style="width:100px;height:50px;background-color: aqua"></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/carhire">Carhire<span class=" fa fa-car Size"></span></a></li>
      <li><a href="/searchflight">Flight Book<span class="fa fa-plane Size"></span></a></li>
      <li *ngIf="IsLogin"><a href="/dash" >{{Login}}<span class="fa fa-user  Size"></span></a></li>
      <li *ngIf="IsAdmin"><a href="/admin" >Admin<span class="fa fa-cog  Size"></span></a></li>
      <li><a href="/home" >About us<span class="fa fa-info Size"></span></a></li>
      <li><a></a></li>
    </ul>
  </div>
</nav>