<div  class="row">
  <div class="col-sm-3 " style="background-color:bisque;">
      <div class="row"><a href="dash/flightbook" class="waves-effect waves-light btn-large">Flight Book History</a></div>
      <div class="row"><a href="dash/carhire" class="waves-effect waves-light btn-large">CarHire History</a></div>
      <div class="row"><a href="dash/discount" class="waves-effect waves-light btn-large">View all Discounts</a></div>
      <div class="row"><a href="dash/editprofile" class="waves-effect waves-light btn-large">Edit Profile</a></div>
      <div class="row"><a href="dash/changepassowrd" class="waves-effect waves-light btn-large">Change Password</a></div>
        
    <div class="col s12 m7">
        <div class="card horizontal">
          <div class="card-image">
            <img src="">
          </div>
          <div class="card-stacked">
            <div class="card-content green">
              <p>For more info please! contact kulula support service </p>
            </div>
          </div>
        </div>
      </div>
  </div>
  
   <div class="col-sm-9 " style="background-color:aquamarine;">
    <div class="container z-depth-5"><router-outlet></router-outlet> </div></div>
  </div>