<div *ngIf="!vall" id="row">
  <div class="col s8 offset-s2">
    <div class="center-align" ><h2 class="fa fa-fighter-jet Size">Flight Schedules</h2></div>
         <div class="col-lg-12">
             <div class="row" >
                 <div class="col s8"><span class="btn-small peru">Flight Name</span></div>
                 <div class="col s8"><span class="btn-small peru">Depart Date&Time</span></div>
                 <div class="col s8"><span class="btn-small peru">#Seat Left</span></div>
                 <div class="col s8"><span class="btn-small peru">Price(R)</span></div>
                 <div class="col s8"><span class="btn-small peru">Flight Status</span></div>
             </div>
             <div id="trTable"></div>
         </div>
   </div>
 </div>


 