
<div  class="row">
  <div class="col-sm-3 FormColor" >
      Established in 1971, Kulula Airways has grown to be one of the leading luxury passenger transport and tour companies in South Africa. 
    <ul>
      <li>Good news! Q-Jump allows you to fast track your flight boarding process at a small fee;</li>
      <li>putting you among the first in line to board the plane at the Q-Jump queue.</li>
      <li>Less queueing means less stress before flight departure.  </li>
      <li>Register as Kulula to travel less all the time  </li>
    </ul>
  </div>
  <div class="col-sm-9 " style="background-color:palegreen;">
    <div class="container z-depth-5"><router-outlet></router-outlet> </div>
    <div class="col-sm-8 FormColor">
      <h2 class="header">Register & Pay Less</h2>
      <div class="card horizontal" style="background-color:palegreen;">
          <div class="card-content">
            <p>Be among the first to board the aircraft or board the first bus to the aircraft</p>
            <img src="/src/images/flight.jpg" style="width:450px;height:200px;background-color: burlywood">
          </div>
        </div>
      </div>
    </div>
</div>
  